* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: Helvetica, Arial;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.content-top {
    background: #fff;
}

.content-middle {
    background: #eee;
    height: 100%;
}

.content-bottom {
    background: #fff;
}

.chat-form {
    background: #eee;
    padding: 3px;
    bottom: 0;
    width: 100%;
    display: flex;
}

.chat-form input {
    border: 0;
    padding: 10px;
    margin-right: .5%;
}

.chat-author-input {
    width: 30px;
    flex-grow: 1;
}

.chat-content-input {
    flex-grow: 3;
}

.chat-form button {
    width: 50px;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

.chat-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.chat-list li {
    padding: 5px 10px;
    background: #fff;
}

.chat-list li:nth-child(odd) {
    background: #eee;
}